<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>dev or online</description>
        <param-name>WebMode</param-name>
        <param-value>online</param-value>
    </context-param>
    <context-param>
        <param-name>DBType</param-name>
        <param-value>Mariadb</param-value>
    </context-param>
    <context-param>
        <param-name>DBServer</param-name>
        <param-value>192.168.100.50</param-value>
    </context-param>
    <context-param>
        <param-name>DBName</param-name>
        <param-value>classicModels</param-value>
    </context-param>
    <context-param>
        <param-name>Account</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>A</servlet-name>
        <servlet-class>tw.mymis.servlets.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>tw.mymis.servlets.WebInfo</servlet-class>
        <init-param>
            <param-name>DBType</param-name>
            <param-value>MariaDB</param-value>
        </init-param>
        <init-param>
            <param-name>Account</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>Password</param-name>
            <param-value>1234</param-value>
        </init-param>
        <init-param>
            <param-name>URL</param-name>
            <param-value>jdbc:mariadb://127.0.0.1:3366/classicmodels</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>A</servlet-name>
        <url-pattern>/LoginCheck.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/WebInfo</url-pattern>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>main.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>main.htm</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPages/Error404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.SQLInvalidAuthorizationSpecException</exception-type>
        <location>/ErrorPages/DBError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/ErrorPages/DBError.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPages/CommonError.jsp</location>
    </error-page>
</web-app>
